html {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 36, 41) !important;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#background-radial-gradient {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  width: 200vw;
  height: 200vh;
  transform: translate(-50vw, -100vh);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(252, 7, 125, 0.063) 0px,
    rgba(255, 255, 255, 0) 100%
  );
  background-blend-mode: overlay, normal;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
